body{
	background-color: black;
	color: white;
}

header{
	background-color: #FFD600;
	color : white;
}

header h1{
	text-align: center;
}

.navBar ul{
	list-style: none;
	padding: 10px;
	border: 5px solid black;
	text-align: center;
}

.navBar a{
	color: white;
}
